{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Edit User {% endblock %}</h1>
    <hr>
    <form method="post">
        {{ form.csrf_token }}

        <h5>{{ form.email.label(class='form-label') }}</h5>
        <p>{{ form.email(class='form-control', size=80, value=user.email) }}</p>

        <h5>{{ form.username.label(class='form-label') }}</h5>
        <p>{{ form.username(class='form-control', size=80, value=user.username) }}</p>

        <h5>{{ form.bio.label(class='form-label') }}</h5>
        <p><textarea class='form-control' id='bio' name='bio'>{{ user.bio }}</textarea></p>
        {# ^ https://stackoverflow.com/a/53126855/3178898 #}

        <p><button type="submit" class="btn btn-primary">Update Account</button></p>
    </form>
    <hr>
    <form method="post" action="{{ url_for('users.delete_user', id_=user.id) }}">
        <input type="submit" value="Delete Account" class="btn btn-danger"
               onclick="return confirm('Delete user forever?')">
    </form>
{% endblock %}