{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Edit User {% endblock %}</h1>
    <hr>
    <form method="post">
        {{ form.csrf_token }}
        <h5>{{ form.email.label }}</h5>
        <p>{{ form.email(size=80) }}</p>
        <h5>{{ form.username.label }}</h5>
        <p>{{ form.username(size=80) }}</p>
        <h5>{{ form.bio.label }}</h5>
        <p>{{ form.bio(rows=15, cols=60) }}</p>
        <p><button type="submit" class="btn btn-primary">Update Account</button></p>
    </form>
    <hr>
    <form method="post" action="{{ url_for('users.delete_user', id_=user.id) }}">
        <input type="submit" value="Delete Account" class="btn btn-danger"
               onclick="return confirm('Delete user forever?')">
    </form>
{% endblock %}