{% from 'macros.html' import display_comment_actions %}
{% extends 'base.html'%}

{% block content %}
    <h1>{% block title %} 💬 {% endblock %} Comments</h1>
    <hr>
    {% for comment in comments %}
    <div class="card" style="margin: 8px 0px">
        <div class="card-header">
            <p class="card-text">
                <i>Comment by 
                    <a href="{{ url_for('users.get_user', id_=comment.user.id) }}">{{ comment.user.username }}</a> on 
                    <a href="{{ url_for('posts.get_post', id_=comment.post.id) }}">post #{{ comment.post_id }}</a> at 
                        {{ comment.created_at }}:</i></p>
        </div>
        <div class="card-body">
            <p class="card-text">{{ comment.content }}</p>
        </div>
        {% if current_user.is_authenticated and current_user.id == comment.user.id %}
            <div class="card-footer">
                {{ display_comment_actions(comment) }}
            </div>
        {% endif %}
    </div>
    {% endfor %}
{% endblock %}