{% from 'macros.html' import display_tags %}
{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} 📢 {% endblock %} New Post</h1>
    <hr>
    {% if current_user.is_authenticated %}
        <form method="post">
            {{ form.csrf_token }}
            <h5>{{ form.title.label }}</h5>
            <p>{{ form.title(size=100) }}</p>
            <h5>{{ form.content.label}}</h5>
            <p>{{ form.content(rows=15, cols=60) }}</p>
            <p><button type="submit" class="btn btn-success">Create Post</button></p>
        </form>
    {% else %}
        <p>
            Please <a href="{{ url_for('auth.login') }}">login</a>
            or <a href="{{ url_for('auth.register') }}">register</a> to post.
        </p>
    {% endif %}
{% endblock %}