{% from 'macros.html' import display_tags, display_comment_actions, display_comment_form %}
{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} 📝 {% endblock %} Post #{{ post.id }}</h1>
    <hr>
    <h3>{{ post.title }}</h3>
    <p><i>{{ post.created_at }}</i></p>
    <h5 class="card-text">{{ post.content }}</h5>
    {% if current_user.is_authenticated and current_user.id == post.user.id %}
        <br>
        <a class="btn btn-warning" href="{{ url_for('posts.edit_post', id_=post.id) }}">Edit Post</a>
    {% endif %}
    {% if post.comments|length > 0 %}
        <hr>
        <h4>Comments</h4>
        {% for comment in post.comments %}
        <div class="card" style="margin: 8px 0px">
            <div class="card-header">
                <i>
                    <a href="{{ url_for('users.get_user', id_=comment.user.id) }}">{{ comment.user.username }}</a>
                    at {{ comment.created_at }}:
                </i>
            </div>
            <div class="card-body">
                <p class="card-text">{{ comment.content }}</p>
            </div>
            {% if current_user.is_authenticated and current_user.id == comment.user.id %}
            <div class="card-footer">
                {{ display_comment_actions(comment) }}
            </div>
        {% endif %}
        </div>
        {% endfor %}
    {% endif %}
    {% if current_user.is_authenticated %}
        <hr>
        <h4>Add Comment</h4>
        {{ display_comment_form(form, post) }}
    {% endif %}
    <hr>
    {{ display_tags(post.tags) }}
{% endblock %}