{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} 📖 {% endblock %} what is qqueue?</h1>
    <h3>
        qqueue is a Flask application written in Python 3.12.
        The goal is to create a "breakable toy" to practice web development, per Hoover & Oshineye's 
        <a href="https://www.amazon.com/Apprenticeship-Patterns-Guidance-Aspiring-Craftsman/dp/0596518382"
           target="_blank"><em>Apprenticeship Patterns: Guidance for the Aspiring Software Craftsman</em></a>.
    </h3>
{% endblock %}