{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} 📝 {% endblock %} top comments</h1>
    <div style="width: 80%; margin: auto">
        {% for comment in comments %}
            {% if loop.index < 4 %}
                <div style="padding: 10px; 
                            background-color: {{ loop.cycle('#EEE', '#E6F9FF') }}; 
                            margin: 20px">
                    <p>#{{ loop.index }}</p>
                    <p style="font-size: 24px; font-family: ui-monospace">{{ comment | upper }}</p>
                </div>
            {% endif %}
        {% endfor %}
        <hr>
        <div>
            {{ "<h1>all comments</h1>" | safe }}
            <p>{{ comments | join("<hr>") | safe }}</p>
        </div>
    </div>
{% endblock %}