{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} 🏫 {% endblock %} All Courses</h1>
    <hr>
    {% for course in course_list %}
        <h2> {{ course['title'] }} </h2>
        <h4> {{ course['description'] }} </h4>
        <p> ${{ course['price'] }} </p>
        <p><i> {{ course['level'] }} </i></p>
        <p>Available? 
            {% if course['available'] %}
                Yes
            {% else %}
                No
            {% endif %}
        </p>
    <hr>
    {% endfor %}
{% endblock %}