{# {% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} New User {% endblock %}</h1>
    <form method="post">
        <p>
            <input type="text" name="username" required
                   value="{{ user['username'] if user }}"
                   placeholder="leeroy_jenkins">
            <label for="username">Username</label>
        </p>
        <p>
            <input type="text" name="email" required
                   value="{{ user['email'] if user }}"
                   placeholder="email@example.com">
            <label for="email">Email Address</label>
        </p>
        <p>
            <input type="number" name="age"
                   value="{{ user['age'] if user }}"
                   placeholder="24">
            <label for="age">Age</label>
        </p>
        <p>
            <label for="bio">Bio</label>
            <br>
            <textarea name="bio"
                      placeholder="Express yourself"
                      rows="15"
                      cols="60">{{ user['bio'] if user }}</textarea>
        </p>
        <p>
            <button type="submit" class="btn btn-success">Add</button>
        </p>
    </form>
{% endblock %} #}