{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} 🏠 {% endblock %} Welcome Home</h1>
    <hr>
    <h2>Top Reviews</h2>
    {% for book in books %}
        <div class="card" style="margin: 8px 0px">
            <div class="card-body">
                <h3>{{ book[1] }}</h3>
                <h4><i>by {{ book[2] }}</i></h4>
                <p><i>{{ book[3] }} pages</i></p>
                <hr>
                <p><i>{{ book[5] }} UTC</i></p>
                <p>{{ book[4] }}</p>
                {# <a href="{{ url_for('edit', id=post['id']) }}">Edit</a> #}
            </div>
        </div>
    {% endfor %}
    <hr>
    <h3>The current time is {{ utc_dt }} UTC</h3>
{% endblock %}