{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} 📖 {% endblock %} What is qqueue?</h1>
    <hr>
    <h5>
        qqueue is a Flask application written in Python 3.12.
        The goal is to create a "breakable toy" to practice web development, per Hoover & Oshineye's 
        <a href="https://www.amazon.com/Apprenticeship-Patterns-Guidance-Aspiring-Craftsman/dp/0596518382"
           target="_blank"><em>Apprenticeship Patterns: Guidance for the Aspiring Software Craftsman</em></a>.
    </h5>
    <br>
    <h5>Special thanks to the authors of these tutorials, guides, and posts:</h5>
    <ul>
        {% for link in links %}
            <li><a href="{{ link }}">{{ link }}</a></li>
        {% endfor %}
    </ul>
    <br>
    <h5>The source code for this app is available <a href="https://github.com/whitgroves/qq2" target="_blank">here</a>.</h5>
{% endblock %}