{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} 🐱‍💻 {% endblock %} Sign In</h1>
    <hr>
    <form method="post">
        {{ form.csrf_token }}

        <div class="mb-3" >
            <h5>{{ form.user_email.label(class='form-label') }}</h5>
            <p>{{ form.user_email(class='form-control', size=100) }}</p>
        </div>

        <div class="mb-3">
            <h5>{{ form.password.label(class='form-label') }}</h5>
            <p>{{ form.password(class='form-control', size=100) }}</p>
        </div>

        <div class="mb-3">
            {{ form.remember(class='form-check-input') }} {{ form.remember.label(class='form-check-label') }}
        </div>
        
        <button type="submit" class="btn btn-primary">Sign In</button>
    </form>
{% endblock %}