{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} 🐱‍💻 {% endblock %} Sign In</h1>
    <hr>
    <form method="post">
        {{ form.csrf_token }}
        <div class="mb-3" >
            <h5>{{ form.user_email.label }}</h5>
            <p>{{ form.user_email(size=100) }}</p>
        </div>
        <div class="mb-3">
            <h5>{{ form.password.label }}</h5>
            <p>{{ form.password(size=100) }}</p>
        </div>
        <div class="mb-3">
            <p>{{ form.remember() }} {{ form.remember.label }}</p>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Sign In</button>
    </form>
{% endblock %}