{% macro display_tags(tags) %}
    {% if tags|length == 0 %}
        <i>None</i>
    {% else %}
        {% for tag in tags %}
            <a href="{{ url_for('posts.get_tag', name=tag.name) }}">{{ tag.name }}</a>
        {% endfor %}
    {% endif %}
{% endmacro %}

{% macro display_post_stats(post) %}
    {% set n_comments = post.comments|length %}
    <a href="{{ url_for('posts.get_post', id_=post.id) }}">{{ n_comments }} Comment{% if n_comments != 1 %}s{% endif %}</a> |
    Tags: {{ display_tags(post.tags) }}
{% endmacro %}

{% macro display_posts(posts) %}
    {% for post in posts %}
        <div class="card" style="margin: 8px 0px">
            <div class="card-header">
                <h5 class="card-text">{{ post.title }}</h5>
                <p class="card-text">
                    <i>By <a href="{{ url_for('users.get_user', id_=post.user.id) }}">{{ post.user.username }}</a>
                         at {{ post.created_at }} UTC</i>
                </p>
            </div>
            <div class="card-body">
                <p class="card-text">{{ post.content }}</p>
            </div>
            <div class="card-footer">
                {{ display_post_stats(post) }}
            </div>
        </div>
    {% endfor %}
{% endmacro %}

{% macro display_users(users) %}
    {% for user in users %}
        <div class="card" style="margin: 8px 0px">
            <div class="card-header">
                <h5 class="card-title"><a href="{{ url_for('users.get_user', id_=user.id) }}">{{ user.username }}</a></h5>
            </div>
            {% if user.posts|length > 0 %}
                <ul class="list-group list-group-flush">
                    {% for post in user.posts[:3] %}
                    {% set n_comments = post.comments|length %}
                        <li class="list-group-item">
                            {{ post.title }} - <small><i>{{ display_post_stats(post) }}</i></small>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
            <div class="card-body">
                <i>No posts to show.</i>
            </div>
            {% endif %}
            <div class="card-footer">
                <p class="card-text"><b>Joined:</b> {{ user.created_at }}</p>
            </div>
        </div>
    {% endfor %}
{% endmacro %}

{% macro display_post_form(form, is_new) %}
    <form method="post">
        {{ form.csrf_token }}
        <h5>{{ form.title.label }}</h5>
        <p>{{ form.title(size=100) }}</p>
        <h5>{{ form.content.label}}</h5>
        <p>{{ form.content(rows=9, cols=100) }}</p>
        <h5>{{ form.tags.label}}</h5>
        <p>{{ form.tags(size=100) }}</p>
        {% set submit_text = 'Create' if is_new else 'Update' %}
        {% set btn_class = 'success' if is_new else 'primary'%}
        <p><button type="submit" class="btn btn-{{ btn_class }}">{{ submit_text }} Post</button></p>
    </form>
{% endmacro %}